*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 350px;
/* height: 350px; */
}

.img{
    width: 100%;
    height: auto;
}

h2{
    color: hsl(0, 0%, 100%);
}

p{
    color: hsl(215, 51%, 70%);
}